/* .container {
  max-width: 960px;
  margin: 0 auto;
} */

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.product {
  padding: 7px;
  text-align: left;
  position: relative;
  transition: box-shadow 0.3s, transform 0.3s;
  justify-items: center;

  background: #bdcaca;
}

.product:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.product img {
  height: auto;
  width: 100%;
}

/* .productCardDescription {
  position: relative;
}
 */
.productCardDescription span {
  font-size: 26px;
  font-weight: bolder;
}

.typeProductDescription {
  margin-top: 10px;
}

.typeProductDescription p {
  margin: 0;
  font-size: 20px;
}

.like,
.like .svgLike {
  position: absolute;
  width: 33px;
  height: 33px;
  border: none;
  /*   background: transparent; */
}

.like {
  top: 18px;
  right: 18px;
}

.like .svgLike {
  top: 0;
  right: 0;
}

.hiddenElements {
  display: none;
  /* background-color: #fff; */
}

.product:hover .hiddenElements {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.hiddenElements p {
  margin-bottom: 5px;
}

.hiddenElements button {
  padding: 12px 10px;
  border: none;
  background-color: #373738;
  color: #fff;
  cursor: pointer;
}

.hiddenElements button:hover {
  background-color: #1b1b1b;
}



.likedd {
  /* fill: #c123cf */
  background: turquoise;
}
