@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: black;
  /* background: #b2d2e8;
  color: #a51f1f; */
  background: #ffffff;
  font-size: 19px;
  font-family: cursive;
}

.container {
  width: 1385px;
  margin: 0 auto;
}

/* .logo{
  position: relative;
  right: 64px;
} */

a {
  cursor: pointer;
}
