.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 8px rgba(0, 0, 0, 0.1);

  background: #252525;
  color: #ffffff;
  font-size: 19px;
  font-family: cursive;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemsFlex {
  display: flex;
  justify-content: space-between;
}

.leftEdgeItems {
  width: 300px;
}

.rightEdgeItems {
  width: 135px;
  height: 28px;
}

.logo {
  position: relative;
  right: 6%;
}
