.productLinks {
    display: flex;
    width: 830px;
    margin: 0 auto;
    margin-top: 30px;
    height: 400px;
    justify-content: space-between;
}

.images {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.bgImage, .frontImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    transition: opacity 0.3s ease;
}

.frontImage {
    opacity: 0;
}

.images:hover .frontImage {
    opacity: 1;
}
